.songRoutes__navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    caret-color: transparent;
    background-color:royalblue;
}

.songRoutes__navBar a {
    text-decoration: none;
    background-color: royalblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
}

.songRoutes__navBar a.active {
    background-color: blueviolet;
    color: white;
}