

.songDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
    caret-color: transparent;
    align-items: center;
}

.songDetails__songSettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.songDetails__songSettings label, .songDetails__songSettings a {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

.songDetails__songSettings *:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px #000000;
}

.songDetails__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.songDetails__songName {
    margin: 5px;
}

.songDetails__artist {
    margin: 5px;
}

.songDetails__section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}

.songDetails__sectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.songDetails__sectionHeader h4, p {
    margin: 15px;
}

.songDetails__capo {
    display: flex;
    flex-direction: row;
}


.songDetails__chordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.songDetails__chord{
    background-color: rgba(164, 164, 164, 0.637);
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    padding: 2px;
    margin: 5px;
}

.songDetails__lyric {
    margin: 3px;
}